.vscode/
.idea/
challenge-06&07/news/__pycache__
challenge-08&09/news/__pycache__
challenge-14/__pycache__
challenge-15/shiyanlougithub/shiyanlougithub/__pycache__
challenge-15/shiyanlougithub/shiyanlougithub/spiders/__pycache__